[submodule "submodules/create_macos_vm_install_dmg"]
	path = submodules/create_macos_vm_install_dmg
	url = https://github.com/rtrouton/create_macos_vm_install_dmg
[submodule "submodules/macadmin-scripts"]
	path = submodules/macadmin-scripts
	url = https://github.com/grahampugh/macadmin-scripts
	branch = main
[submodule "submodules/pycreateuserpkg"]
	path = submodules/pycreateuserpkg
	url = https://github.com/gregneagle/pycreateuserpkg.git
